{% extends 'templates.html' %}

{% block content %}

<h2>{{ stock_info.companyName }}</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Last Price</th>
      <th scope="col">Open Price</th>
      <th scope="col">Close Price</th>
      <th scope="col">High</th>
      <th scope="col">Low</th>
      <th scope="col">Volume</th>
      <th scope="col">52Week High</th>
      <th scope="col">52Week Low</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>${{ stock_info.latestPrice }}</td>
      <td>${{ stock_info.open }}</td>
      <td>@${{ stock_info.close }}</td>
      <td>${{ stock_info.high }}</td>
      <td>${{ stock_info.low }}</td>
      <td>{{ stock_info.latestVolume }}</td>
      <td>${{ stock_info.week52High }}</td>
      <td>${{ stock_info.week52Low }}</td>
    </tr>
  </tbody>
</table>
 
<br><br>

<h2>{{ krx_info.JongName }}</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Last Price</th>
      <th scope="col">Open Price</th>
      <th scope="col">Close Price</th>
      <th scope="col">High</th>
      <th scope="col">Low</th>
      <th scope="col">Volume</th>
      <th scope="col">52Week High</th>
      <th scope="col">52Week Low</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>&#8361;{{ krx_info.CurJuka }}</td>
      <td>&#8361;{{ krx_info.StartJuka }}</td>
      <td>&#8361;{{ krx_info.PrevJuka }}</td>
      <td>&#8361;{{ krx_info.HighJuka }}</td>
      <td>&#8361;{{ krx_info.LowJuka }}</td>
      <td>{{ krx_info.Volume }}</td>
      <td>&#8361;{{ krx_info.High52 }}</td>
      <td>&#8361;{{ krx_info.Low52 }}</td>
    </tr>
  </tbody>
</table>


{% endblock %} 